<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Service 4 Sell | Home</title>
</head>
<body>
    <div id="content">
       <!-- <header>
            <a id="logo" href="index.html">
                <img class="logo" src="images/service4sell.png" alt="Service 4 sell">
            </a>
            <nav>
                <a href="index.html">Home</a> 
                <a href="services.html">Services</a>
                <a href="aboutus.html">About Us</a>
                <a href="projects.html">Projects</a>
            </nav>
        </header>-->
        
        <main class="home-grid">
            <h2>Fade in Overlay</h2>
            <p>Hover over the image to see the effect.</p>
            
            <div class="container">
              <img src="images/developer.jpg" alt="Developer" class="image">
              <div class="overlay">
                <div class="text">Visit Our Products</div>
              </div>
            </div>
        </main>
        <footer>
            <!--<div>
                <p>Servie 4 Sell &copy; 2022 - David Tabi</p>
                <p><a href="index.html">Home</a></p>
                <p><a href="services.html">Services</a></p>
                <p><a href="aboutus.html">About Us</a></p>
                <p><a href="projects.html">Projects</a></p>
            </div>
            <div class="social">
            
                <a href="https://facebook.com" target="_blank">
                    <img src="images/facebook.png" alt="fb icon">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="images/twitter.png" alt="twitter icon">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="images/instagram.png" alt="instagram icon">
                </a>
            
            </div>
            <div>
                <input>
                <button>Subscribe</button>
            </div>-->
       </footer>
    </div>   
</body>
</html>